*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

h1{
    color: #fff;
    font-size: 3.5rem;
}

p{
    font-size: 2rem;
    color: #fff;
}

@media screen and (max-width: 665px) {
    body, p, h1{
        color: steelblue;
        background-color: white;
    }
    
}

